In [1]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.15.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.3.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.8->pandas-profiling) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.4.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pandas-profiling) (2022.1)

In [2]:
import pandas as pd
from pandas_profiling import ProfileReport

In [4]:
df = pd.read_csv('Ironbank-1.csv', na_values=-999)

In [13]:
df

,DEPT,TVD,GR,ROP5,P22H,P28H,P34H,P40H,A16L,A22L,A28L,A34L,A40L,BS,DCAV,DRHO,PEF,RHOB,TNPH
0,399.8976,399.89702,49.90161,65.01759,0.1,14.52552,0.30000,0.2,0.1,0.1,0.1,0.1,0.16973,42.0,NaN,NaN,NaN,NaN,NaN
1,400.0500,400.04942,51.09644,80.26743,0.1,23.31411,0.30000,0.2,0.1,0.1,0.1,0.1,0.10498,42.0,NaN,NaN,NaN,NaN,NaN
2,400.2024,400.20182,54.32951,77.74450,0.1,1000.00000,0.59582,0.2,0.1,0.1,0.1,0.1,0.15089,42.0,NaN,NaN,NaN,NaN,NaN
3,400.3548,400.35422,57.80856,74.01176,0.1,16.82209,0.30000,0.2,0.1,0.1,0.1,0.1,0.24500,42.0,NaN,NaN,NaN,NaN,NaN
4,400.5072,400.50662,57.87885,84.63319,0.1,1000.00000,0.65861,0.2,0.1,0.1,0.1,0.1,0.27212,42.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34236,5617.4640,5615.27859,NaN,19.56661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN
34237,5617.6164,5615.43099,NaN,18.50491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN
34238,5617.7688,5615.58339,NaN,18.74196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN
34239,5617.9212,5615.73579,NaN,22.40186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN
34240,5618.0736,5615.88818,NaN,22.31246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN

In [ ]:
report = ProfileReport(df)

In [ ]:
report